/* variables */
:root {
    --accent: #E6C583;
    --dark: #362815;
    --black: black;
    --white: white;
    --background:rgb(252, 248, 243);
    --backgroundDark:rgb(226, 217, 207);
    --backgroundLowOpacity:rgba(252, 248, 243, 0.8);
    --backgroundHeroFilter: rgb(213, 199, 181);

    --titleFont:'Iowan Old Style', 'Times New Roman', serif;
    --bodyTextFont: 'Poppins', sans-serif;

    --animationFirst:fadeIn 2s cubic-bezier(0.44, -0.05, 0.61, 1.06);
    --animationSecond:fadeIn 4s cubic-bezier(0.44, -0.05, 0.61, 1.06);
    --animationThird:fadeIn 5s cubic-bezier(0.44, -0.05, 0.61, 1.06);
}

@font-face {
    font-family: 'Iowan Old Style';
    src: url('Assets/Fonts/iowanoldst-bt/bitstream-iowan-old-style-bt-586c36a8d7712.ttf');
  }

html {
scroll-behavior:smooth;
}

* {
    box-sizing: border-box;
}

Body {
    margin: 0;
}

/* Animations */

.fadeSection {
    opacity: 0;
    transform: translateY(20px); /* Slight slide up */
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fadeSection.visible {
    opacity: 1;
    transform: translateY(0); /* Reset position */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Fonts */
h1 {
    font-size: 30px;
    font-family: var(--titleFont);
    color: var(--dark);
}


h2 {
    font-size: 30px;
    font-family: var(--titleFont);
    color: var(--dark);
}

h3 {
    font-size: 21px;
    font-family: var(--titleFont);
    color: var(--dark);
}

p {
    font-size: 18px;
    color: var(--dark);
    font-family: var(--bodyTextFont);
}

button {
    font-family: var(--bodyTextFont);
}

a {
    text-decoration: none;
}


/* Nav */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 3rem 1rem 3rem;
    background-color:var(--backgroundLowOpacity);
    position: fixed;
    width: 100vw;
    z-index: 20;
    animation: var(--animationThird);
}

.navLink {
    font-size: 20px;
    font-family: var(--bodyTextFont);
    color: var(--dark);
    text-decoration: none;
    align-self: center;
}

.navLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navStars {
    height: 18px;
    width:fit-content;
    display: block;
    object-fit: cover;
}

.navLogoText {
    font-size: 26px;
    font-family: 'Iowan Old Style', 'Times New Roman', serif;
    color: var(--dark);
    margin: 0;
}


/* Hero */

#hero {
    background-color: var(--backgroundHeroFilter);
}
.heroVideo {
    width: 100%;
    height: 790px;
    display: block;
    object-fit: cover;
    opacity: 40%;
}

.heroContent {
    width: 100%;
    height: 790px;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.heroLogo {
    width: 150px;
    margin: 0 0 100px 0;
    animation: var(--animationFirst);
}
.ctaButton {
    border: none;
    outline: none;
    background-color: var(--accent);
    padding: 1.5rem;
    margin: 0 0 100px 0;
    font-size: 26px;
    font-family: var(--bodyTextFont);
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    animation: var(--animationSecond);
}

.ctaButton:hover {
    background-color: #d5b26c;
}


/* About  */
#about {
    margin: 3rem 5rem 3rem 5rem;
    display: flex;
    flex-direction: row;
    justify-self: center;
    background-color: var(--background);
}

.aboutImage {
    width: 600px;
    height: 500px;
    object-fit: cover;
    display: block;
}

.aboutTitle {
    justify-self: flex-start;
}

.aboutText {
    flex-direction: row;
    max-width:400px;
    margin: 0 5rem 0 5rem;
}

/* Rooms */

.budget {
    position: relative;
    margin: 3rem 5rem 3rem 5rem;
    padding: 0 0 0 0;
    display: flex;
    flex-direction: row-reverse;
    justify-self: center;
    background-color: var(--background);
}

.budgetText {
    flex-direction: row;
    max-width:400px;
    margin: 0 5rem 0 5rem;
}

.budgetImage {
    width: 600px;
    height: 500px;
    object-fit: cover;
    display: block;
}

.budgetPrice {
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    background-color: var(--accent);
    padding: 1rem;
    margin: 0rem;
    z-index: 1;
    color: var(--white);
}



.standard {
    position: relative;
    margin: 3rem 5rem 3rem 5rem;
    padding: 0 0 0 0;
    display: flex;
    flex-direction: row;
    justify-self: center;
    background-color:  var(--background);
}

.standardText {
    flex-direction: row;
    max-width:400px;
    margin: 0 5rem 0 5rem;
}

.standardImage {
    width: 600px;
    height: 500px;
    object-fit: cover;
    display: block;
}

.standardPrice {
    position: absolute;
    bottom: 0rem;
    right: 0rem;
    background-color: var(--accent);
    padding: 1rem;
    margin: 0rem;
    z-index: 1;
    color: var(--white);
}


.luxury {
    position: relative;
    margin: 3rem 5rem 3rem 5rem;
    padding: 0 0 0 0;
    display: flex;
    flex-direction: row-reverse;
    justify-self: center;
    background-color:  var(--background);
}

.luxuryText {
    flex-direction: row;
    max-width:400px;
    margin: 0 5rem 0 5rem;
}

.luxuryImage {
    width: 600px;
    height: 500px;
    object-fit: cover;
    display: block;
}

.luxuryPrice {
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    background-color: var(--accent);
    padding: 1rem;
    margin: 0rem;
    z-index: 1;
    color: var(--white);
}

/* Features */
#features {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3rem 5rem 3rem 5rem;
}

.imageContainer {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 5px;
    background-color: var(--dark);
}

.featuresImage {
    display: block;
    width: 380px;
    height: 600px;
    object-fit: cover;
    justify-self: center;
    transition: transform 1.0s ease;
}

.imageContainer h3 {
    position: absolute;
    top: 1rem;
    left: 1.5rem;
    color: var(--white);
    z-index: 1;
}


.featuresText {
    position: absolute;
    top: 3rem;
    left: 0.6rem;
    color: var(--white);
    z-index: 1;
    width: 70%;
    padding: 1rem;
}

.featuresPrice {
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: var(--white);
    z-index: 1;
    width:fit-content;
    margin: 0px;
    padding: 0.6rem;
    background-color: var(--accent);
}

.imageContainer:hover img {
    transform: scale(1.1);
    opacity: 30%;
}

/* Booking */

form {
    background-color: var(--accent);
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 2rem;
    column-gap: 1rem;
    justify-content: center;
    justify-self: center;
    margin: 3rem 5rem 3rem 5rem;
    padding: 2rem;
}

legend {
    font-family: var(--bodyTextFont);
    font-size: 18px;
    color: var(--dark);
}

.room {
    padding: 0rem;
}

#roomPicker {
    appearance: none;
    background-color: var(--white);
    border: none;
    padding: 0.5rem 2.5rem 0.5rem 0.75rem;
    font-size: 1rem;
    font-family: var(--bodyTextFont);
    color: var(--dark);
}

select {
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20fill%3D%22none%22%20viewBox%3D%220%200%2020%2020%22%3E%0A%20%20%3Cpath%20stroke%3D%22rgb%28226%2C%20217%2C%20207%29%22%20stroke-linecap%3D%22butt%22%20stroke-linejoin%3D%22miter%22%20stroke-width%3D%221.5%22%20d%3D%22M6%208l4%204%204-4%22/%3E%0A%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 0rem center;
}

.startDateField {
    padding: 0rem;
}

#startDate {
    appearance: none;
    background-color: var(--white);
    border: none;
    padding: 0.35rem 0rem 0.35rem 0.75rem;
    font-size: 1rem;
    font-family: var(--bodyTextFont);
    color: var(--dark);
}

.endDateField {
    padding: 0rem;
}

#endDate {
    appearance: none;
    background-color: var(--white);
    border: none;
    padding: 0.35rem 0rem 0.35rem 0.75rem;
    font-size: 1rem;
    font-family: var(--bodyTextFont);
    color: var(--dark);
}

.featuresCheckbox {
    display: flex;
    flex-direction: row;
    grid-column: span 3;
    padding: 0rem;
}

fieldset {
    border: none;
}

/* Target all checkboxes inside the fieldset */
fieldset input[type="checkbox"] {
    appearance: none;
    background-color: var(--white);
    accent-color: var(--dark);
    width: 20px;
    height: 20px;
}

fieldset input[type="checkbox"]:hover {
    outline: 2px solid var(--dark);
}

/* Checked state styling */
fieldset input[type="checkbox"]:checked {
    background-color: var(--dark);
}

.featuresCheckbox label {
    font-family: var(--bodyTextFont);
    color: var(--dark);
    font-size: 1rem;
    padding: 0 1rem 0 0.5rem;
}

.transferCodeInput {
    padding: 0rem;
}
#transferCode {
    appearance: none;
    background-color: var(--white);
    border: none;
    padding: 0.35rem 0rem 0.35rem 0.75rem;
    font-size: 1rem;
    font-family: var(--bodyTextFont);
    color: var(--dark);
}

#book {
    border: none;
    outline: none;
    background-color: var(--white);
    padding: 0rem;
    width: 8rem;
    height: 4rem;
    font-size: 20px;
    font-family: var(--bodyTextFont);
    color: var(--accent);
    text-decoration: none;
    text-transform: uppercase;
    align-self: flex-end;
}

#book:hover {
    background-color: var(--dark);
    color: var(--accent);
}

/* Footer */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--backgroundDark);
    padding: 5rem;
}

footer a {
    color: var(--Dark);
    font-family: var(--bodyTextFont);
}

footer ul {
    text-decoration: none;
    list-style: none;
    padding: 0rem;
}

.footerAbout {
    width: 400px;
}
