/* variables */
:root {
    --Primary:rgb(215, 171, 132, 100);
    --accent: wheat;
    --Dark: #362815;
    --background:rgb(252, 248, 243);
    --backgroundDark:rgb(226, 217, 207);
    --backgroundLowOpacity:rgba(252, 248, 243, 0.8);

    --Primary-font:'Iowan Old Style', 'Times New Roman', serif;
}

@font-face {
    font-family: 'Iowan Old Style';
    src: url('Assets/Fonts/iowanoldst-bt/bitstream-iowan-old-style-bt-586c36a8d7712.ttf');
  }

* {
    box-sizing: border-box;
}

Body {
    margin: 0;
}

/* Fonts */
h1 {
    font-size: 30px;
    font-family: var(--Primary-font);
    color: var(--Dark);
}


h2 {
    font-size: 30px;
    font-family: var(--Primary-font);
    color: var(--Dark);
}

h3 {
    font-size: 21px;
    font-family: var(--Primary-font);
    color: var(--Dark);
}

p {
    font-size: 18px;
    color: var(--Dark);
}



/* Nav */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 3rem 1rem 3rem;
    background-color:var(--backgroundLowOpacity);
    position: fixed;
    width: 100vw;
    z-index: 20;
}

.navLink {
    font-size: 20px;
    font-family: var(--Primary-font);
    color: var(--Dark);
    text-decoration: none;
    align-self: center;
}

.navLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navStars {
    height: 18px;
    width:fit-content;
    display: block;
    object-fit: cover;
}

.navLogoText {
    font-size: 26px;
    font-family: 'Iowan Old Style', 'Times New Roman', serif;
    color: var(--Dark);
    margin: 0;
}


/* Hero */

#hero {
    background-color: rgb(213, 199, 181);
}
.heroVideo {
    width: 100vw;
    height: 780px;
    display: block;
    object-fit: cover;
    opacity: 40%;
}

.heroContent {
    width: 100vw;
    height: 780px;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.heroLogo {
    width: 150px;
    margin: 0 0 100px 0;
}
.ctaButton {
    border: none;
    outline: none;
    background-color: #E6C583;
    padding: 1.5rem;
    margin: 0 0 100px 0;
}

.ctaButton a {
    font-size: 26px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

/* About  */
#about {
    margin: 3rem 5rem 3rem 5rem;
    display: flex;
    flex-direction: row;
    justify-self: center;
    background-color: var(--background);
}

.aboutImage {
    width: 600px;
    height: 500px;
    object-fit: cover;
    display: block;
}

.aboutTitle {
    justify-self: flex-start;
}

.aboutText {
    flex-direction: row;
    max-width:400px;
    margin: 0 5rem 0 5rem;
}

/* Rooms */

.budget {
    margin: 3rem 5rem 3rem 5rem;
    padding: 0 0 0 0;
    display: flex;
    flex-direction: row-reverse;
    justify-self: center;
    background-color: var(--background);
}

.budgetText {
    flex-direction: row;
    max-width:400px;
    margin: 0 5rem 0 5rem;
}

.budgetImage {
    width: 600px;
    height: 500px;
    object-fit: cover;
    display: block;
}


.standard {
    margin: 3rem 5rem 3rem 5rem;
    padding: 0 0 0 0;
    display: flex;
    flex-direction: row;
    justify-self: center;
    background-color:  var(--background);
}

.standardText {
    flex-direction: row;
    max-width:400px;
    margin: 0 5rem 0 5rem;
}

.standardImage {
    width: 600px;
    height: 500px;
    object-fit: cover;
    display: block;
}


.luxury {
    margin: 3rem 5rem 3rem 5rem;
    padding: 0 0 0 0;
    display: flex;
    flex-direction: row-reverse;
    justify-self: center;
    background-color:  var(--background);
}

.luxuryText {
    flex-direction: row;
    max-width:400px;
    margin: 0 5rem 0 5rem;
}

.luxuryImage {
    width: 600px;
    height: 500px;
    object-fit: cover;
    display: block;
}

/* Features */

#features {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3rem 5rem 3rem 5rem;
}

.imageContainer {
    overflow: hidden;
    display: inline-block;
    margin: 5px;
    background-color: var(--Dark);
  }

  .featuresImage {
    display: block;
    width: 380px;
    height: 600px;
    object-fit: cover;
    justify-self: center;
    transition: transform 1.0s ease;
  }

  .imageContainer:hover img {
    transform: scale(1.1); 
    opacity: 40%;
  }

/* Footer */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--backgroundDark);
    padding: 5rem;
}

.footerAbout {
    width: 400px;
}